
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}


.nav-header {
    position: relative;
    overflow: hidden;
    height: 63vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    text-align: left;
    background-image: url('../images/backgrounds/aboutusbg.jpg'); 
    background-size: cover;
    background-position: center top;
}

nav{
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 1001;
}

header {
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.header-content{
    position: relative;
    z-index: 2;
    text-align: left;
    margin-bottom: auto;
    margin-top: 350px;
    margin-left: 125px;
    padding: 0px;
}

.nav-content{
    position: relative;
    z-index: 2;
    text-align: left;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;

}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 500;
}

header p {
    font-family: 'Poppins', sans-serif;
    margin-top: -20px;
    font-size: 15px;
    font-weight: 200;
}

h2{
    padding-top: 35px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

main p{
    font-family: 'Poppins', sans-serif;
    font-size: 17.5px;
    font-weight: 200;
    width: 130vh;
    margin: 0 auto;
}

#manager{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
}

#con{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#card1{
    width: 290px;
    height: 290px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 145px;
    background-image: url("../images/team/Tejas\ lokhande.jpg");
    background-size: cover;
}

#card2{
    width: 290px;
    height: 290px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 145px;
    background-image: url("../images/team/.jpg");
    background-size: cover;
}

#card3{
    width: 260px;
    height: 260px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 130px;
    background-image: url("../images/team/Suketu\ Datta\ \(1\).jpg");
    background-size: cover;
}

#card4{
    width: 260px;
    height: 260px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 130px;
    background-image: url("../images/team/Ronit.png");
    background-size: cover;
}

#card5{
    width: 260px;
    height: 260px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 130px;
    background-image: url("../images/team/Vipul\ Muskan.jpg");
    background-size: cover;
}

#card6{
    width: 260px;
    height: 260px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 130px;
    background-image: url("../images/team/Dhruv.jpg\ .jpg");
    background-size: cover;
}

#card7{
    width: 260px;
    height: 260px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 130px;
    background-image: url("../images/team/Aryan.jpg");
    background-size: cover
}

#card8{
    width: 260px;
    height: 260px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    border-radius: 130px;
    background-image: url("../images/team/Parth.jpg");
    background-size: cover;
}

iframe{
    border-radius: 15px;
}

footer{
    margin-top: 5px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align: right;
    position: relative;
    z-index: 1;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 17.5px;
    font-weight: 200;
}

.map p{
    margin-right: 240px;
}

.social_media{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items:normal;
    
}

.social_media_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social_media a{
    color: white;
    text-decoration: none;
}







