body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}


.nav-header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    text-align: left;
    background-image: url('../images/backgrounds/mainbg.jpg'); 
    background-size: cover;
    background-position: center top;
}

nav{
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 1001;
}

header {
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.header-content{
    position: relative;
    z-index: 2;
    text-align: left;
    margin-bottom: auto;
    margin-top: 350px;
    margin-left: 125px;
    padding: 0px;
    width: 52%;
}

.nav-content{
    position: relative;
    z-index: 2;
    text-align: left;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;

}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 500;
}

header p {
    font-family: 'Poppins', sans-serif;
    margin-top: -20px;
    font-size: 15px;
    font-weight: 200;
}




h2{
    padding-top: 35px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

main p{
    font-family: 'Poppins', sans-serif;
    font-size: 17.5px;
    font-weight: 200;
    width: 100vh;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

.event_cards{
    margin-top: 20px;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: space-between;
}


#card1{
    width: 290px;
    height: 290px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    background-image: url("../images/miscimages/img1.png");
    background-size: cover;
    border-radius: 10px;
}

#card2{
    width: 290px;
    height: 290px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    background-image: url("../images/miscimages/img2.png");
    background-size: cover;
    border-radius: 10px;
}

#card3{
    width: 290px;
    height: 290px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
    background-image: url("../images/miscimages/img3.png");
    background-size: cover;
    border-radius: 10px;
}

iframe{
    border-radius: 15px;
}

footer{
    margin-top: 5px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align: right;
    position: relative;
    z-index: 1;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 17.5px;
    font-weight: 200;
}

.map p{
    margin-right: 240px;
}

.social_media{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items:normal;
    
}

.social_media_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social_media a{
    color: white;
    text-decoration: none;
}










